/** { */

/*    margin: 0; */

/*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

/* } */

.my_photo {
    border-radius: 15px;
    overflow: hidden;
    width: 150px;
    height: 100%;

    /* centering the image */
    display: block;
    margin: 0 auto;
}

.heading {
    padding-left: 5em;
    color: black;
}

.text {
    font-size: large;
    padding-left: 3em;
    color: black;
}

.beginning {
    background-color: antiquewhite;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: black;
}

.middle {
    background-color: honeydew;
    padding-left: 10px;
    padding-bottom: 10px;
}

.images {
    width: 400px;
    height: 250px;
    padding-left: 4em;
    padding-top: 10px;
}

.footer-links {
    display: flex;
}
