body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#get-joke-btn {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 24px;
    padding: 2px 10px 2px 10px;
    box-shadow: darkgray 2px 2px 2px 2px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#get-joke-btn:active {
    transform: scale(0.95);
    box-shadow: darkgray 1px 1px 10px 2px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joke_title_before, .joke_image_before, .joke_text_before, .laughing_guy_before, .joke_date_before {
    display: none;
}

.joke_title_after, .joke_image_after, .joke_text_after, .laughing_guy_after, .joke_date_after {
    display: block;
}

.joke_date_after {
    color: green;
}

.joke_date_after, .joke_text_after {
    text-align: center;
}

